<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>
<body>
<div class="top"><a href="#"><img src="./images/logo.png"></a><a href="#"><input type="button" value="English"></a>
</div>
<div class="main"><a href="#"><img class="banner" src="./images/renwu.jpg"></a>
    <div id="tabs">
        <div class="neibu">
            <div class="input_box">
                <div class="input_img"><img src="./images/user.png"></div>
                <input class="input1" type="text" placeholder="请输入手机号或邮箱"></div>
            <div class="input_box">
                <div class="input_img"><img src="./images/mima.png"></div>
                <input class="input1" type="password" placeholder="请输入登录密码"></div>
            <input class="input2" type="submit" value="登陆"><a href="#"><img src="./images/weixin.png"></a><a
                href="#"><img src="./images/QQ.png"></a><a href="#"><img src="./images/weibo.png"></a><a href="#"><img
                src="./images/zhifubao.png"></a>
            <p><a href="#">忘记密码&nbsp&nbsp&nbsp;</a><a href="#">免费注册</a></p></div>
    </div>
</div>
<div class="footer">
    <div class="first_line"><a href="#">帮助中心</a><a href="#">公司介绍</a><a href="#">品牌识别</a><a href="#">公司大事记</a><a
            href="#">协议及隐私权政策</a><a href="#">廉正举报</a><a href="#">联系合作</a><a href="#">招聘信息</a><a href="#">防骗秘籍</a></div>
    <div class="second_line">
        <div class="logo_f"><img src="./images/logo_f.png"></div>
        <div class="erweima"><img src="./images/erweima_f.png">
            <p>APP下载</p></div>
        <div>
            <div class="qianhao"><a href="#" id="special">京ICP证031057号</a><a href="#">京ICP备11043884号</a><a href="#">京公网安备11010102000430号</a><a
                    href="#">广播电视节目制作经营许可证 (京)字第02253号</a><a href="#">网络文化经营许可证 京网文[2016]3438-413号</a><a href="#">营业性演出许可证
                京市演587号</a></div>
            <p>北京红马传媒文化发展有限公司 版权所有大麦网Copyright 2003-2018 All Rights Reserved</p>
            <div class="shangjiaImg"><img src="./images/footer1.gif"><img src="./images/footer2.png"><img
                    src="./images/footer3.png"><img src="./images/footer4.png"><img src="./images/footer5.png"></div>
        </div>
    </div>
</div>
</body>
